*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	padding: 20px;
	line-height: 1.6;
	margin: 0;

	background-image: url("images/background.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;

    min-height: 100vh;
}

.login, .register{
	background-color: white;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 30px;
	justify-content: center;
	max-width: 450px;
	max-height: 450px;
	margin: 0 auto;
	margin-top: 80px;
	border-radius: 20px;
}


#login, #register{
	padding: 10px;
	margin-top: 30px;
	margin-bottom: -5px;
	transition: 0.3s;
	color: grey;
}

#login:hover, #register:hover{
	color: black;
	cursor: pointer;
}

.login h1, .register h1{
	text-align: center;
	font-size: 32px;
	padding-bottom: 10px;
}

.login label, .register label{
	font-size: 18px;
}

.login p, .register p{
	text-align: center;
	margin-top: 7px;
}

.login a, .register a{
	color: dimgrey;
	text-decoration: none;
	transition: 0.3s;
}

.login a:hover, .register a:hover{
	color: black;
	border-bottom: 2px solid black;
	cursor: pointer;
}

.login input, .register input{
	border-radius: 10px;
	padding: 10px;
}

.email{
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.password{
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.repassword{
	display: flex;
	flex-direction: column;
	gap: 2px;
}